.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

*.class
*.java
*.jar
*.war
*.ear

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

sketch.properties
applet
application.macosx
build-tmp/
web-export/

*.hex